<div class="panel panel-default">	
	<div class="panel-heading">	
		<h3 class="panel-title">{{titulo}}</h3>	
	</div>
	<div class="panel-body" ng-transclude>	
		<img class="img-responsive center-block" src="{{foto.url}}" alt="{{foto.titulo}}">	
	</div>
</div>