<div class="jumbotron">
	<h1 class="text-center">Alurapic</h1>
</div>

<p class="alert alert-info" ng-show="mensagem.length">{{mensagem}}</p>

<div class="row">
	<div class="col-md-12">
		<form>
			<div class="input-group">
				<span class="input-group-btn">
					<a href="fotos/new" class="btn btn-primary">Nova Foto</a>
				</span>
				<input ng-model="filtro" ng-model-options="{debounce: 500}" class="form-control" placeholder="filtrar">
			</div>
		</form>
	</div> <!-- fim col-md-12 -->
</div> <!-- fim rom-->

<div class="row">
<meu-painel class="col-md-2 painel-animado" ng-repeat="foto in fotos | filter: filtro" titulo="{{foto.titulo}}">		
	<img class="img-responsive center-block" src="{{foto.url}}" alt="{{foto.titulo}}">
	<a href="fotos/edit/{{foto._id}}" class="btn btn-primary btn-block">Editar</a>
	<!--<button ng-click="remover(foto)" class="btn btn-danger btn-block">Remover</button>-->
	<meu-botao-perigo nome="Remover" acao="remover(foto)"></meu-botao-perigo>
</meu-painel>
</div>


<meus-titulos></meus-titulos>